h1 {
    color:#7C3E66;
}

h2 {
    color:rgb(169, 95, 238);
}

h3 {
    color:rgb(157, 87, 223);
}

body {
    text-align: center;
    list-style-position: inside;
}


body {
    background-color:#F2EBE9;
  }

  p {
    color:#293e72;
    font-size: 20px;
  }



